/* registration */
/* body{font:normal 18px/1.5 'lato',sans-serif;background:#fff;color:#000;padding:20px 0}
.container{width:80%;max-width:1200px;margin:0 auto}
.container *{box-sizing:border-box}
.flex-outer,.flex-inner{list-style-type:none;padding:0}
.flex-outer{max-width:800px;margin:0 auto}
.flex-outer li,.flex-inner{display:flex;flex-wrap:wrap;align-items:center}
.flex-inner{padding:0 8px;justify-content:space-between}
.flex-outer > li:not(:last-child){margin-bottom:20px}
.flex-outer li label,.flex-outer li p{padding:8px;font-weight:300;letter-spacing:.09em;text-transform:uppercase}
.flex-outer > li > label,.flex-outer li p{flex:1 0 120px;max-width:220px}
.flex-outer > li > label + *,.flex-inner{flex:1 0 220px}
.flex-outer li p{margin:0}
.flex-outer li input:not([type='checkbox']),.flex-outer li textarea{padding:15px}
.flex-outer li button{margin-left:auto;padding:8px 16px;border:none;background:#002e5a;color:#f2f2f2;text-transform:uppercase;letter-spacing:.09em;border-radius:2px}
.flex-inner li{width:100px}
.register{text-align:center}
.dropdown{padding:15px}
.mainlogo{display:flex;justify-content:center;background-color:#fff;padding-left:20px}
.navbar{display:flex;background-color:#002e5a;justify-content:flex-start}
.navbar.mainnavbar{display:flex;background-color:#000;justify-content:center}
.navbar a{color:#fff;padding:14px 20px;text-decoration:none;text-align:center}
.navbar a:hover{background-color:#ddd;color:#000} */
/* dashboard */
/* *{box-sizing:border-box}
body{font-family:Arial,Helvetica,sans-serif;margin:0}
.container{width:80%;max-width:1200px;margin:0 auto}
.header{padding:10px;text-align:center;background:#fff;color:#fff}
.header h1{font-size:40px}
.navbar{overflow:hidden;background-color:#002e5a;position:sticky;position:-webkit-sticky;top:0}
.navbar a{float:left;display:block;color:#fff;text-align:center;padding:14px 20px;text-decoration:none}
.navbar a.right{float:right}
.navbar a:hover{background-color:#333;color:#fff}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.side{-ms-flex:30%;flex:20%;background-color:#f1f1f1;padding:20px}
.main{-ms-flex:70%;flex:80%;background-color:#fff;padding:20px}
.fakeimg{background-color:#aaa;width:15%}
.footer{padding:20px;text-align:center;background:#ddd}
.rowone{margin:0 -5px}
.rowone:after{content:"";display:table;clear:both}
.columnone{float:left;width:25%;padding:0 5px}
.fa{font-size:50px}
a{color:#fff}

@media screen and (max-width: 700px) {
    .row{flex-direction:column}
}
@media screen and (max-width: 400px) {
    .navbar a{float:none;width:100%}
} */
/* document collection */
/* body{font:normal 18px/1.5 "Fira Sans","Helvetica Neue",sans-serif;background:#fff;color:#000;padding:20px 0}
.container{width:80%;max-width:1200px;margin:0 auto}
.container *{box-sizing:border-box}
.flex-outer,.flex-inner{list-style-type:none;padding:0}
.flex-outer{max-width:800px;margin:0 auto}
.flex-outer li,.flex-inner{display:flex;flex-wrap:wrap;align-items:center}
.flex-inner{padding:0 8px;justify-content:space-between}
.flex-outer > li:not(:last-child){margin-bottom:20px}
.flex-outer li label,.flex-outer li p{padding:8px;font-weight:300;letter-spacing:.09em;text-transform:uppercase}
.flex-outer > li > label,.flex-outer li p{flex:1 0 120px;max-width:220px}
.flex-outer > li > label + *,.flex-inner{flex:1 0 220px}
.flex-outer li p{margin:0}
.flex-outer li input:not([type='checkbox']),.flex-outer li textarea{padding:15px;width:395px}
.flex-outer li button{margin-left:auto;padding:8px 16px;border:none;background:#002e5a;color:#f2f2f2;text-transform:uppercase;letter-spacing:.09em;border-radius:2px}
.flex-inner li{width:100px}
.mainlogo{display:flex;justify-content:center;background-color:#fff;padding-left:20px}
.register{text-align:center}
.dropdown{padding:15px}
#anotherlocation{max-width:800px;margin:0 auto;flex-wrap:wrap;align-items:center;justify-content:space-between;box-sizing:border-box}
#anotherlocation > li:not(:last-child){margin-bottom:20px}
#anotherlocation > li > label,#anotherlocation li p{flex:1 0 120px;max-width:220px}
#anotherlocation > li > label + *,#anotherlocation{flex:1 0 220px}
.navbar{display:flex;background-color:#002e5a;justify-content:flex-end}
.navbar.mainnavbar{display:flex;background-color:#000;justify-content:center}
.navbar a{color:#fff;padding:14px 20px;text-decoration:none;text-align:center}
.navbar a:hover{background-color:#ddd;color:#000}
.hidden{display:none!important} */

/* call */
*{box-sizing:border-box}
body{font-family:Arial;margin:0}
.header{padding:10px;text-align:center;background:#fff;color:#fff}
.navbar{display:flex;background-color:#002e5a;justify-content:flex-start;align-items:center}
.navbar.mainnavbar{display:flex;background-color:#000;justify-content:center}
.navbar a{color:#fff;padding:14px 20px;text-decoration:none;text-align:center}
.navbar a:hover{background-color:#ddd;color:#000}
.row{display:flex;flex-wrap:wrap}
.side{flex:70%;background-color:#fff;padding:20px;
    border-left: 2px solid #aaa;
    background-color: #fff;
    padding: 20px;
}
.main-dashboard{-ms-flex:70%;flex:70%;background-color:#fff;padding:20px}
.main{border-left:2px solid #aaa;flex:30%;background-color:#fff;padding:20px}
.fakeimg{background-color:#fff;width:100%;padding:20px}
.flex-outer > li > label + *,.flex-outer li label,.flex-outer li p{padding:8px;font-weight:300;letter-spacing:.09em;text-transform:uppercase}
.flex-outer > li > label,.flex-outer li p{flex:1 0 120px;max-width:220px}
.flex-outer > li > label + *,.flex-inner{flex:1 0 220px}
.container{flex-direction:column;align-items:center;justify-content:center;width:80%;max-width:1200px;margin:0 auto}
.container *{box-sizing:border-box}
.flex-outer,.flex-inner{list-style-type:none;padding:0}
.flex-outer{max-width:800px;margin:0 auto}
.flex-outer li,.flex-inner{display:flex;flex-wrap:wrap;align-items:center}
button{padding:5px}
.close{color:#aaa;float:right;font-size:28px;font-weight:700}
.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer}
.footer{padding:10px;text-align:center;background:#ddd}
.datalabel{padding-left:20px}
.datalist{display:flex;flex-direction:row}
.labelleft{display:flex;flex-direction:column;justify-content:flex-start}
.flex-container{display:flex;vertical-align:middle;line-height:90px;flex-direction:column;background-color:#fff}
.flex-container > div{background-color:#f1f1f1;width:100px;margin:20px;text-align:center;line-height:100px;font-size:30px}
.form-group{display:flex;flex-direction:row}
.form-group label{flex:none;display:block;width:140px;font-weight:700;font-size:1em;vertical-align:middle;line-height:80px}
.form-group label.right-inline{text-align:right;padding-right:8px;padding-left:150px;width:auto}
.form-group .input-control{flex:1 1 auto;display:block;margin-bottom:10px;margin-right:8px;padding:4px;margin-top:-4px}
.dropdown{width:100%}
.labelmiddle{vertical-align:bottom}
.control.right-inline{padding:25px;padding-left:0}
#viewnumber{border:0 solid #333;border-radius:5px;padding:5px;padding-left:25px}
label#viewnumber:hover{color:#f1f1f1}
#show_number{padding:5px;padding-left:25px}
element.style{padding-left:25px}
.navbar.w3-container{margin-bottom:0}
h2.w3-xxlarge{text-align:center;color:#002e5a}
.active{background-color:#4CAF50; color:#fff}
.main-navbar.w3-container{margin:0}
.card{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);padding:16px;text-align:center;background-color:#444;color:#fff}
.rowone{margin:0 -5px}
.rowone:after{content:"";display:table;clear:both}
.dashboard-side.side {
    flex: 0%;
    background-color: #ddd;
    border-right: 2px solid #aaa;
    padding: 20px;
}
.w3-container audit-trail{
    margin:10px;
}
.columnone{float:left;width:25%;padding:0 5px}
.row-display{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.fa{font-size:50px}
h2.audit-trail {
    margin: 0;
}
button {margin: 5px;}

.hidden{display:none!important}
.swal2-modal .swal2-spacer{height:0}
textarea{width:300px}
img.loader{padding:100px} 
.w3-container.audit-trail {
    padding: 0;
}
.container{width:80%;max-width:1200px;margin:0 auto}
.container *{box-sizing:border-box}
.flex-outer,.flex-inner{list-style-type:none;padding:0}
.flex-outer{max-width:800px;margin:0 auto}
.flex-outer li,.flex-inner{display:flex;flex-wrap:wrap;align-items:center}
.flex-inner{padding:0 8px;justify-content:space-between}
.flex-outer > li:not(:last-child){margin-bottom:20px}
.flex-outer li label,.flex-outer li p{padding:8px;font-weight:300;letter-spacing:.09em;text-transform:uppercase}
.flex-outer > li > label,.flex-outer li p{flex:1 0 120px;max-width:220px}
.flex-outer > li > label + *,.flex-inner{flex:1 0 220px}
.flex-outer li p{margin:0}
.flex-outer li input:not([type='checkbox']),.flex-outer li textarea{padding:15px}
.flex-outer li button{margin-left:auto;padding:8px 16px;border:none;background:#002e5a;color:#f2f2f2;text-transform:uppercase;letter-spacing:.09em;border-radius:2px}
.flex-inner li{width:100px}
.register{text-align:center}
.dropdown{padding:15px}
button#eligiblity {
    height: 52px;
    /* width: 100px; */
    margin: 22px;
    /* padding: 25px; */
    /* padding-left: 30px; */
}
button#nextcall {
    height: 49px;
    margin-right: 16px;
    margin-left: 5px;
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
textarea#note {
    margin: 0px;
    height: 77px;
    width: 306px;
    
}
textarea#otherbox_salaried {
    margin: 0px;
    height: 77px;
    width: 306px;
    
}
textarea#otherbox_c4c {
    margin: 0px;
    height: 77px;
    width: 306px;
}
input#date-time {
    width: 300px;
    height: 43px;
}
input[type="text"] {
    width: 300px;
    height: 43px;
}
input[type="number"] {
    width: 300px;
    height: 43px;
}
label#viewnumber {
    border: 0 solid #333;
    border-radius: 5px;
    padding: 5px;
}
button#submit {
    width: 100px;
}
input#date {
    width: 300px;
    height: 43px;
    padding: 5px;
    margin: 10px;
    width: -1px;
}
.list-container {
    margin: 20px 0 20px 0;
    padding: 15px;
}

.support{background:#002e5a;border:0;}
.about{background:#002e5a;border:0; }
select{width:100%;padding:10px}
input#name{width:100%}
input#email{width:100%}
textarea{width:100%;padding:10px}
label{font-weight:700;text-align:left;padding-bottom:2px;padding-top:5px}
img{height:30px;margin-bottom:10px}
#number{margin-left:160px;font-family:serif;font-size:initial;margin-bottom:10px;margin-top:10px}
#version{margin-left:178px;font-family:serif;font-size:initial}
input.invalid,select.invalid,textarea.invalid{border-color:#dc3545}
.invalid-feedback{color:#dc3545;font-size:14px;line-height:21px;margin-top:4px;text-align:left}
button#support{margin:0;padding:0;padding-right:10px; color: white;}
button#about{margin:0;padding:0;color: white;}
img.mainlogo{height:65px}

.footer-container {
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.footer-item {
    background:#002e5a;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.flex1 { flex: 1 1 20em; text-align: left; }
.flex2 { flex: 2 2 20em; text-align: right; color: white;} 

tr.odd {
    text-align: -webkit-center;
}
tr.even {
    text-align: -webkit-center;
}
.card {
    font-size: -webkit-xx-large;
}
select{width:300px;height:43px}

@media screen and (max-width: 700px) {
    .row,.navbar{flex-direction:column}
}

@media screen and (max-width: 700px) {
    .row{flex-direction:column}
}
@media screen and (max-width: 400px) {
    .navbar a{float:none;width:100%}
}
